<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>edu.morgan.upload.UploadFile</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/UploadFile</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Home</servlet-name>
    <servlet-class>edu.morgan.Home</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Redirect</servlet-name>
    <servlet-class>edu.morgan.Redirect</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/Redirect</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Error</servlet-name>
    <servlet-class>edu.morgan.Error</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Results</servlet-name>
    <servlet-class>edu.morgan.Results</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>Results</servlet-name>
    <url-pattern>/Results</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Redirect</welcome-file>
  </welcome-file-list>
  
  <security-constraint>
	  <web-resource-collection>
	  <web-resource-name>profile</web-resource-name>
	  <url-pattern>/*</url-pattern>
	  </web-resource-collection>
	  <user-data-constraint>
	  <transport-guarantee>CONFIDENTIAL</transport-guarantee>
	  </user-data-constraint>
  </security-constraint>
  
</web-app>